*{
    margin: 0;
    padding: 0;
}
button{
    border-radius: 20px;
    border: 2px solid black;

}
.carousel-item{
    width: 100%;
    height: 550px;
    
}
body{
    height: 1000px;
    width: 100%;
}

ul li {
    display: inline-block;
    padding: 5px;
    margin: 6px;
    background-image: linear-gradient(to right, rgb(28, 95, 238),rgb(28, 95, 238));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;   
  }

ul li:hover {
    background-size: 100% 2px;
    font-weight: bold;
    color:rgb(28, 95, 238) !important ;
}

body{
    padding-top: 100px;
}

.konten{
    display:block ;
    height: 393px;
    width: 100%;
    background:linear-gradient(269.69deg, #AFB0FC 17.39%, rgba(255, 255, 255, 0) 95.65%);
    

}
.konten h3{
    position: absolute;
    width: 531px;
    height: 33px;
    left: 217px;
    middle: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #101010;
}
.konten p{
    position: absolute;
    width: 465px;
    height: 83px;
    left: 217px;
    top: 790px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #101010;
}
.konten button{
    position: absolute;
    width: 131px;
    height: 42px;
    left: 217px;
    top:870px;
    background: #4978EA;
    border-color: white;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 25px;
}
.konten img{
    position: absolute;
    width: 392px;
    height: 282px;
    left: 846px;
    top: 680px;
    /* background: url(bus1.png); */
}

.konten2{
    display:block ;
    height: 393px;
    width: 100%;
    background: linear-gradient(89.84deg, #AFB0FC 0.5%, rgba(175, 176, 252, 0) 68.62%);
}
.konten2 h3{
    position: absolute;
    width: 450px;
    height: 20px;
    left: 720px;
    middle: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #101010;

}
.konten2 p{
    position: absolute;
    width: 530px;
    height: 51px;
    left: 720px;
    top: 1150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #101010;
}
.konten2 img{
    position: absolute;
    width: 376px;
    height: 282px;
    left: 219px;
    top: 1050px;

/* background: url(bus2.png); */
}

 footer{
    position: absolute;
    width: 1366px;
    height: 334px;
    left: 0px;
    top: 2253px;
    
    background: linear-gradient(360deg, #A5A6F6 0%, rgba(73, 120, 234, 0) 100%);
 }
 footer h3{
position: absolute;
width: 150px;
height: 33px;
left: 662px;
top: -80px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #8B8B8B;
 }

 footer p {
    position: absolute;
    width: 1081px;
    height: 41px;
    left: 179px;
    top: 5px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    
    color: #8B8B8B;
 }

 .container{
     padding-top: 50px !important;
 }

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

 body{
   background: #f2f2f2;
   font-family: 'Open Sans', sans-serif;
 }
 
 .search {
   width: 100%;
   position: relative;
   display: flex;
 }
 
 .searchTerm {
   position: absolute;
width: 340px;
height: 48px;
left: -250px;
top: 65px;

background: #FFFFFF;
border-radius: 20px;
 }
 
 /*Resize the wrap to see the search bar change!*/
 .wrap{
   width: 30%;
   position: absolute;
   top: 50%;

   transform: translate(-50%, -50%);
 } 
 .searchTerm::placeholder{
     text-align: center;
 }

 .searchTerm img{
    position: absolute;
    width: 55.95px;
    height: 48.43px;
    left: px;
    top: 50px;
    padding-right: 500px;
    background: #E3EBFE;
    border-radius: 20px 0px 0px 20px;
 }

 .bg-custom{
    background: #E3EBFE;
    /* background-image: url(assets/img/pblack.png) !important; */
    background-size: cover;
 }

 .bannerlg{
    position: absolute;
    width: 500px;
    height: 536px;
    left: 105px;
    top: 260px;
    background: #FFFFFF;
    border-radius: 20px;
 }

 .banner1{ 
    position: absolute;
    width: 496px;
    height: 131px;
    left:0px;
    padding-top: 20px;
     background: linear-gradient(89.94deg, #BFC0F1 0.03%, rgba(165, 166, 246, 0) 93.39%);;
 }

 .banner1 span{
    position: absolute;
    top: 31.05%;
    bottom: 64.65%;
    left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
 }

 .banner2{ 
    position: absolute;
    width: 496px;
    height: 137px;
    left: 5px;
    top:131px;
    background: linear-gradient(270deg, #BFC0F1 4.29%, rgba(165, 166, 246, 0) 100%);;
 }
 .banner2 img{
    position: absolute;
    right: 20px;
    top: 30px;
 }

 .banner2 span{
    position: absolute;
    top: 31.05%;
    bottom: 64.65%;
    right: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
 }

 .banner3{ 
    position: absolute;
    width: 496px;
    height: 131px;
    left:0px;
    padding-top: 20px;
    top:268px;
    background: linear-gradient(89.94deg, #BFC0F1 0.03%, rgba(165, 166, 246, 0) 93.39%);;
 }

 .banner3 img{
    position: absolute;
    left: 15px;
    top: 30px;
 }

 .banner3 span{
    position: absolute;
    top: 31.05%;
    bottom: 64.65%;
    left: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
 }

 .banner4{ 
    position: absolute;
    width: 496px;
    height: 137px;
    left: 5px;
    top:399px;
    background: linear-gradient(270deg, #BFC0F1 4.29%, rgba(165, 166, 246, 0) 100%);;
 }
 .banner4 img{
    position: absolute;
    right: 20px;
    top: 30px;
 }

 .banner4 span{
    position: absolute;
    top: 31.05%;
    bottom: 64.65%;
    right: 130px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
 }

 .rect{
    position: absolute;
    width: 513px;
    height: 674px;
    left: 790px;
    top: 203px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 }

 .rect span{
    position: absolute;
    width: auto;
    height: 35px;
    left: 20px;
    top: 43px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
 }

 .rect .span2{
    position: absolute;
    left: 20px;
    top: 95px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
 }

 .rect .span3{
   position: absolute;
    width: auto;
    height: 35px;
    left: 20px;
    top: 175px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 35px;
    color: #000000;
}

 .form-control-user{
   position: absolute;
   width: 395px;
   height: 57px;
    left: 30px;
    top: 190px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 14px;
 }

 .form-control-user2{
    position: absolute;
   width: 395px;
   height: 57px;
    left: 30px;
    top: 270px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 14px;
 }

 .sandi1{
   position: absolute;
   left: 40px;
   top: 365px;
   bottom: 461px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   color: #0404A9;
 }

 .login_container button{
   position: absolute;
   width: 137px;
   height: 41px;
   left: 190px;
   top: 395px;
   background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
   border-radius: 20px;
   color: #ffffff !important;
 }

 .login_container2 button{
   position: absolute;
   width: 150px;
   height: 38px;
   left: 100px;
   top: 455px;
   background: #04167B;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 20px;
 }

 .login_container2 img{
   position: absolute;
   width: 20px;
   height: 22px;
   left: 110px;
   top: 463px;
   /* background: url(.png); */
   border-radius: 20px;
 }

 .login_container3 button{
   position: absolute;
   width: 150px;
   height: 38px;
   left: 278px;
   top: 455px;
   color: black!important;
   background: #DCDBD9;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 20px;
   
 }

 .login_container3 img{
   position: absolute;
   width: 20.38px;
   height: 24px;
   left: 293px;
   top: 463px;
   
 }

 .custom-control-label{
   position: absolute;
   left: 165px;
   top: 510px;
 }

 .daftar1{
   position: absolute;
   left: 240px;
   top: 545px;
 }

 .copy{
   position: absolute;
   left: 520px;
   top: 690px;
 }

 .form-control-user01{
   position: absolute;
   width: 395px;
   height: 57px;
    left: 30px;
    top: 190px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 14px;
 }

 .form-control-user02{
   position: absolute;
   width: 395px;
   height: 57px;
   left: 30px;
   top: 270px;
   box-sizing: border-box;
   font-size: 14px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-radius: 10px;
   padding: 14px;
}

.form-control-user03{
   position: absolute;
   width: 395px;
   height: 57px;
   left: 30px;
   top: 350px;
   box-sizing: border-box;
   font-size: 14px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-radius: 10px;
   padding: 14px;
}

.form-control-user04{
   position: absolute;
   width: 395px;
   height: 57px;
   left: 30px;
   top: 430px;
   box-sizing: border-box;
   font-size: 14px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-radius: 10px;
   padding: 14px;
}

.login_container01 button{
   position: absolute;
   width: 137px;
   height: 41px;
   left: 185px;
   top: 515px;
   background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
   border-radius: 20px;
   color: #ffffff !important;
 }

 .custom-control-label01{
   position: absolute;
   left: 148px;
   top: 565px;
 }

 .login01{
   position: absolute;
   left: 230px;
   top: 595px;
 }

 .form-control-user001{
   position: absolute;
   width: 395px;
   height: 57px;
    left: 30px;
    top: 190px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 14px;
 }

 .login_container001 button{
   position: absolute;
   width: 137px;
   height: 41px;
   left: 185px;
   top: 515px;
   background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
   border-radius: 20px;
   color: #ffffff !important;
 }

 .rect .span01{
 position: absolute;
    left: 20px;
    top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
 }

 .form-control-userks1{
   position: absolute;
   width: 395px;
   height: 57px;
    left: 30px;
    top: 135px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 14px;
 }

 .rect .span02{
   position: absolute;
      left: 20px;
      top: 240px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 21px;
      color: #000000;
   }

   .form-control-userks2{
      position: absolute;
      width: 395px;
      height: 57px;
       left: 30px;
       top: 305px;
       box-sizing: border-box;
       font-size: 14px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       border-radius: 10px;
       padding: 14px;
    }

    .login_containerks1 button{
      position: absolute;
      width: 137px;
      height: 41px;
      left: 190px;
      top: 395px;
      background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
      border-radius: 20px;
      color: #ffffff !important;
    }

    .form-control-userv1{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 60px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .form-control-userv2{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 120px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .form-control-userv3{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 180px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .form-control-userv4{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 240px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .form-control-userv5{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 300px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .form-control-userv6{
      position: absolute;
      width: 50px;
      height: auto;
      padding: 10px;
      outline: none !important;
      border : 0px;
      font-size: 20px;
      text-align: center;
      left: 360px;
      top: 250px;
      border-bottom: 1px solid #000000;
    }

    .login_containerv1 button{
      position: absolute;
      width: 137px;
      height: 41px;
      left: 188px;
      top: 350px;
      background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
      border-radius: 20px;
      color: #ffffff !important;
    }

    .custom-control-labelv1{
      position: absolute;
      left: 175px;
      top: 405px;
    }
   
    .verifv1{
      position: absolute;
      left: 220px;
      top: 437px;
    }

    .profil{
      position: absolute;
      width: 1260px;
      height: 821px;
      left: 50px;
      top: 132px;
      background: #FFFFFF;
      border: 1px solid #C2C2C2;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
  
    }

    .profil2{
      position: absolute;
      width: 393px;
      height: 821px;
      left: 0px;
      top: 0px;
      background: #FFFFFF;
      border: 1px solid #C2C2C2;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }

    .profil2 img{
      position: absolute;
      width: 120px;
      height: 100px;
      left: 20px;
      top: 50px;
      
    }
    .spanp1{
      position: absolute;
      left: 150px;
      top: 70px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 21px;
      color: #000000;
 }

 .spanp2{
   position: absolute;
   left: 150px;
   top: 100px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 21px;
   color: #000000;
}

hr{
  position: absolute;
  width: 393px;
  height: 0px;
  left: 0px;
  top: 150px;
  border: 1px solid #C2C2C2;
}

.akun_btn{
  position: absolute;
  width: 348px;
  height: 81px;
  left: 20px;
  top: 215px;
  background: linear-gradient(90deg, #1154F4 -138.67%, rgba(17, 84, 244, 0.76) -138.65%, #002886 57.08%, #002886 57.08%);
  border-radius: 20px;
  font-size: 20px;
  font-family: Open Sans;
  line-height: 41px;
  color: #FFFFFF;text-align: center;
}

.akun_container img{
  position: absolute;
  width: 50px !important;
  height: 50px;
  left: 56px;
  top: 230px;
  color: white !important;
}

.akun_container1 img{
  position: absolute;
  width: 50px ;
  height: 50px;
  left: 300px;
  top: 230px;
  color: white !important;
}

.akun_btn1{
  position: absolute;
  width: 348px;
  height: 81px;
  left: 20px;
  bottom: 50px;
  background: linear-gradient(90deg, #1154F4 -138.67%, rgba(17, 84, 244, 0.76) -138.65%, #002886 57.08%, #002886 57.08%);
  border-radius: 20px;
  font-size: 20px;
  font-family: Open Sans;
  line-height: 41px;
  color: #FFFFFF;text-align: center;
}

.akun_container2 img{
  position: absolute;
  width: 50px !important;
  height: 50px;
  left: 48px;
  top: 700px !important;
  color: white !important;
}

.akun_container3 img{
  position: absolute;
  width: 50px ;
  height: 50px;
  left: 300px;
  top: 705px;
  color: white !important;
}

.akunsaya .spanakun{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 454px;
  top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

.akunsaya .spanakun2{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 454px;
  top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form-control-userak1{
  position: absolute;
  width: 750px;
  height: 86px;
  left: 454px;
  top: 150px;
  border-radius: 15px;
  
}

.akunsaya .spanakun3{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 454px;
  top: 260px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form-control-userak2{
  position: absolute;
  width: 320px;
  height: 86px;
  left: 454px;
  top: 310px;
  border-radius: 15px;
  
}

.akunsaya .spanakun4{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 850px;
  top: 260px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form-control-userak3{
  position: absolute;
  width: 320px;
  height: 86px;
  left: 850px;
  top: 310px;
  border-radius: 15px;
}

.akunsaya .spanakun5{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 454px;
  top: 420px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form-control-userak4{
  position: absolute;
  width: 320px;
  height: 86px;
  left: 454px;
  top: 460px;
  border-radius: 15px;
  
}

.akunsaya .spanakun6{
  position: absolute;
  width: 189px;
  height: 43px;
  left: 850px;
  top: 420px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.form-control-userak5{
  position: absolute;
  width: 320px;
  height:170px;
  left: 850px;
  top: 460px;
  border-radius: 15px;
}

.akun_btn2{
  position: absolute;
  width: 136px;
  height: 53px;
  left: 1025px;
  top: 650px;
  background: linear-gradient(90deg, #05FF00 -20.67%, #4072EB 175.08%);
  border-radius: 20px;
  font-family: Open Sans;
  line-height: 41px;
  color: #FFFFFF !important;text-align: center;
  }

  .akun_btn3{
  position: absolute;
  width: 115px;
  height: 54px;
  left: 900px;
  top: 650px;
  border: 1px solid #1154F4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #1154F4;
  }

  .akun_btn4{
    position: absolute;
    width: 139px;
    height: 54px;
    left: 1025px;
    top: 650px;
    background: linear-gradient(90deg, rgba(17, 84, 244, 0.76) -20.67%, #002886 175.08%);
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    }


    .cari .spancari{
      position: absolute;
      width: 44px;
      height: 20px;
      left: 17px;
      top: 180px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 21px;
      color: #000000;
    }
  















